<div class="article-show">
  <div class="article-banner" style="background-color: <%= @colors.sample %>">
    <div class="container text-center">
      <h1 class="title"><%= @article.title %></h1>
      <p>--<%= link_to @article.user.username, user_path(@article.user.id) if @article.user %></p>
    </div>

  </div>
  <div class="small-container mt-5 bg-white">
    <p>
      <i class="fa fa-solid fa fa-arrow-left"></i>
      <%= link_to "Go back to Articles", articles_path, class: "btn-small" %>
    </p>

    <% if policy(@article).update? %>
      <%= link_to "Edit article", edit_article_path(@article), class: "btn-small" %> |
      <%= link_to "Delete article", article_path(@article),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "btn-small text-danger" %>
    <% end %>
    <hr>
    <p><%= @article.description %></p>
  </div>
</div>
