<div class="form signup mt-3">
  <%= simple_form_for @user do |f| %>
    <%= f.input :username, label: "Username" %>
    <%= f.input :email, label: "Enter your email address" %>
    <%= f.input :password_digest, label: "Password" %>
    <%= f.button :submit, label: (@user.new_record? ? "Signup" : "Update account"), class: "btn-sharp" %>
  <% end %>
</div>
