<div class="container my-5">

  <%= render 'users/user_profile' %>

  <div class="col-md-12 my-3 col-lg-5 p-0">
  <h3>Articles by <%= @user.username %></h3>
    <% if @user.articles.any? %>
      <% @user.articles.each do |article| %>
        <div class="article-simple">
          <h5><%= link_to article.title, article_path(article) %></h5>
          <p class="text-secondary"><small>Published on <%= (article.created_at).strftime('%m/%d/%Y') %></small></p>
        </div>
      <% end %>
    <% else %>
      <p>Sorry, the user <%= @user.username %> still has no posts!</p>
    <% end %>
  </div>

</div>
