<nav class="navbar navbar-expand-lg py-3">
  <div class="container-fluid container">
    <%= link_to "MOSHI BLOG", root_path, :class => "nav-li logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="black">
          <%= link_to "Articles", articles_path, :class => "nav-li btn-small"%>
        </li>
        <li>
          <%= link_to "Writers", users_path, :class => "nav-li btn-small" %>
        </li>
        <li class="black">
          <%= link_to "About", about_path, :class => "nav-li btn-small"%>
        </li>
        <li>
          <%= link_to "Create a new article", new_article_path, class: "btn-small"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
